/* shared style  */


.raleway-nrml {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.inter-nrml {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-style: none;
    
}

.btn:hover {
    background: linear-gradient(90deg, #3EC8FF, #4E47FF); 
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(78, 71, 255, 0.5);
}
.margin {
    margin: 116px 141px;
}

.clr {
    color: #4E47FF;
}

/* banner */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 141px 116px;
    padding: 88px 0;
}

.logo {
    font-size: 34px;
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: bold;
}

.banner {
    background-image: url('Assets/Hero-bg.png');
    height: 698px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-1 {
    text-align: center;
}

h3 {
    font-size: 65px;
    font-weight: bold;
    color: #292432;
}

.btn2 {
    margin-top: 37px;
}

/* two  */
.two {
    display: flex;
    justify-content: space-between;
}

.two-img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.two-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.two-1 h2,
p {
    padding-bottom: 23px;
}

/* three */
.three h2 {
    text-align: center;
    padding: 50px 142px 40px 142px;

}

.three {
    background-color: rgba(91, 71, 255, 0.1);
    border-radius: 24px;
}

.three-0 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;

}

.tp1,
.tp3,
.tp5 {
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 0;
}

.tp2,
.tp4,
.tp6 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* 4th */
.four h2 {
    font-weight: bold;
    font-size: 42px;
    text-align: center;
}

.f-d {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.fd1,
.fd2,
.fd3 {
    padding: 24px;
    background-color: whitesmoke;
    border-radius: 14px;
    width: 366px;
    height: 220px;
    margin-top: 50px;
}

.star {
    margin-bottom: 25px;
}

.fd1-p1,
.fd2-p1,
.fd3-p1 {
    font-weight: bold;
    font-size: 22px;
}

.fd3-p3 {
    display: flex;
    justify-content: start;
}

.fd3-p3 img {
    border-radius: 50%;
    margin-right: 10px;
}

.fd3-p3 p {
    margin-left: 10px;
    margin-top: 15px;
}

/* 5th */
.five {
    border-radius: 14px;
    background-color: whitesmoke;
    padding: 71px 150px;
}

.five h2 {
    font-weight: bold;
    font-size: 42px;
    text-align: center;
}

.five p {
    color: rgba(179, 179, 179, 1);
    text-align: center;
    margin: 20px 0;
}

.five-btn {
    text-align: center;
}

.five-btn button {
    margin-bottom: 40px;

}

.five img {
    border-radius: 48px;
}

/* six  */
.six {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.six p {
    font-size: 97px;
    font-weight: bold;
}

input {
    padding: 17px 37px;
    border-style: none;
    background-color: whitesmoke;
    height: 30px;
    width: 300px;
    margin: 15px 0;
}

textarea {
    padding: 17px 37px;
    border-style: none;
    background-color: whitesmoke;
    height: 70px;
    width: 300px;
    margin: 15px 0;

}

.six button{
    width: 100%;
}